# Application Configuration
NODE_ENV=development
PORT=3001

# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5433/product_db

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=product_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433