apiVersion: v1
kind: Service
metadata:
  name: tech-product-api-service
  namespace: products-service
  labels:
    app: tech-product-api
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: tech-product-api 